---
import { Image } from 'astro:assets';
let { img, imgAlt } = Astro.props;
---

<div class='card bg-base-200 w-96 shadow-sm'>
  <figure>
    <Image src={img} alt={imgAlt} />
  </figure>
  <div class='card-body'>
    <slot />
  </div>
</div>
