---
---

<div class='drawer-side'>
  <label for='map-drawer' aria-label='close sidebar' class='drawer-overlay'></label>
  <div class='menu bg-base-200 text-base-content min-h-full w-80 p-4'>
    <slot />
  </div>
</div>
